<a-entity bind__visible="isGame">
  <a-entity position="-0.15 2 -2" text="value: Score: "></a-entity>
  <a-entity position="0 2 -2" bind__text="value: score"></a-entity>
  <a-entity position="-.24 1.9 -2" text="value: gameOver: "></a-entity>
  <a-entity position="0 1.9 -2" bind__text="value: gameOver"></a-entity>
  <a-entity position="-.33 1.8 -2" text="value: timeRemaining:"></a-entity>
  <a-entity position="0 1.8 -2" bind__text="value: timeRemaining"></a-entity>
  <a-plane
    target
    scale="40 40"
    position="0 -0.02 0"
    rotation="-90 0 0"
    material="color: green"
    ammo-body="type: static; collisionFilterMask: 5;"
    ammo-shape="type: hull;"
  ></a-plane>
</a-entity>
