<a-entity bind__visible="isIntro">
  <a-entity position="0 1.8 -2.8">
    <a-image width="2.788" height="2" src="#logo"></a-image>
  </a-entity>
  <a-entity position="0 .8 -2.4">
    <a-entity
      mixin="flatPanel"
      geometry="width: .7; height: .37"
      position="0 .1 0"
      proxy-event="event: click; to: a-scene; as: startGame"
      raycastable
    >
      <a-entity
        scale="4 4 4"
        mixin="primaryFont"
        text="value: PLAY;"
      ></a-entity>
    </a-entity>
  </a-entity>
</a-entity>
